
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section Styles{
}


<div class="row small-spacing">
    <div class="col-xs-12">
        <div class="box-content">
            <h4 class="box-title">Ürünler</h4>
            <div class="dropdown js__drop_down">
                <a href="~/Admin/Product/Add/" class="btn btn-primary btn-sm waves-effect waves-light">Yeni Ürün Ekle</a>
                <!-- /.sub-menu -->
            </div>
            <!-- /.box-title -->
            <div class="card-content">
                <table class="table table-bordered">
                    <caption>Optional table caption.</caption>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Ürün Adı</th>
                            <th>Ürün Kategorisi</th>
                            <th>Ürün Ekleme Tarihi</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Deneme Ürün1</td>
                            <td>Kategor1</td>
                            <td>08.03.2023</td>
                            <td>
                                <a class="btn btn-primary btn-sm waves-effect waves-light" href="#">Görüntüle</a>
                                <a class="btn btn-success btn-sm waves-effect waves-light" href="#">Düzenle</a>
                                <a class="btn btn-warning btn-sm waves-effect waves-light" href="#">Sil</a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Deneme Ürün1</td>
                            <td>Kategor1</td>
                            <td>08.03.2023</td>
                            <td>
                                <a class="btn btn-primary btn-sm waves-effect waves-light" href="#">Görüntüle</a>
                                <a class="btn btn-success btn-sm waves-effect waves-light" href="#">Düzenle</a>
                                <a class="btn btn-warning btn-sm waves-effect waves-light" href="#">Sil</a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Deneme Ürün1</td>
                            <td>Kategor1</td>
                            <td>08.03.2023</td>
                            <td>
                                <a class="btn btn-primary btn-sm waves-effect waves-light" href="#">Görüntüle</a>
                                <a class="btn btn-success btn-sm waves-effect waves-light" href="#">Düzenle</a>
                                <a class="btn btn-warning btn-sm waves-effect waves-light" href="#">Sil</a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Deneme Ürün1</td>
                            <td>Kategor1</td>
                            <td>08.03.2023</td>
                            <td>
                                <a class="btn btn-primary btn-sm waves-effect waves-light" href="#">Görüntüle</a>
                                <a class="btn btn-success btn-sm waves-effect waves-light" href="#">Düzenle</a>
                                <a class="btn btn-warning btn-sm waves-effect waves-light" href="#">Sil</a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Deneme Ürün1</td>
                            <td>Kategor1</td>
                            <td>08.03.2023</td>
                            <td>
                                <a class="btn btn-primary btn-sm waves-effect waves-light" href="#">Görüntüle</a>
                                <a class="btn btn-success btn-sm waves-effect waves-light" href="#">Düzenle</a>
                                <a class="btn btn-warning btn-sm waves-effect waves-light" href="#">Sil</a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Deneme Ürün1</td>
                            <td>Kategor1</td>
                            <td>08.03.2023</td>
                            <td>
                                <a class="btn btn-primary btn-sm waves-effect waves-light" href="#">Görüntüle</a>
                                <a class="btn btn-success btn-sm waves-effect waves-light" href="#">Düzenle</a>
                                <a class="btn btn-warning btn-sm waves-effect waves-light" href="#">Sil</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.box-content -->
    </div>
    <!-- /.col-xs-12 -->
</div>

@section Scripts{

}
