<h3 class="blog-widget-title">Popüler Bloglar</h3>
<ul class="blog-widget-feed">
    <li>
        <a class="blog-widget-media" href="#">
            <img src="~/theme/images/blog-widget/01.jpg" alt="blog-widget">
        </a>
        <h6 class="blog-widget-text">
            <a href="#">Lorem ipsum dolor sit amet consectetur</a>
            <span>february 02, 2021</span>
        </h6>
    </li>
</ul>