<h3 class="blog-widget-title">Bloglarda Ara</h3>
<form class="blog-widget-form" method="post" action="~/Blog/Search">
    <input type="text" name="inputSearch" placeholder="Bloglarda arama yap..">
    <button class="icofont-search-1"></button>
</form>