
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row small-spacing">
    <div class="col-xs-12">
        <div class="box-content">
            <h4 class="box-title">Anasayfa - Admin Sayfası</h4>
            <!-- /.box-title -->
        </div>
        <!-- /.box-content -->
    </div>
    <!-- /.col-xs-12 -->
</div>

